body {
  font-family: "Source Code Pro", monospace;
  background-color: white;
  margin: 0;
  padding: 0;
  font-size: 22px;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

nav {
  overflow: hidden;
  position: fixed;
  top: 30%;
  width: 15%;
  right: 2%;
  z-index: 1;
}

nav ul {
  padding-left: 0;
}

nav li {
  padding-top: 4px;
  padding-bottom: 4px;
  list-style: none;
  text-align: right;
}

nav li:hover {
  color: red;
}

nav a {
  font-size: 25px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: #353535;
}

nav a:hover {
  transition: 1s;
  color: black;
}

nav a:hover > .dot {
  transition: 1s;
  background-color: black;
}

.active a {
  transition: 1s;
  color: #d15e2c;
}

.active .dot {
  transition: 1s;
  border: 3px;
  border-style: solid;
  border-color: #d15e2c;
  height: 8px;
  width: 8px;
  background-color: black;
}

a {
  text-decoration: none;
}

a:hover {
  color: gray;
}

.dot {
  height: 14px;
  width: 14px;
  margin-left: 10px;
  background-color: #d15e2c;
  border-radius: 50%;
  display: inline-block;
}

p {
  margin: 0;
  margin-top: 2px;
  margin-bottom: 0;
}

.container {
  padding-top: 50px;
  padding-left: 20%;
  padding-right: 20%;
  min-height: 600px;
}

.title {
  font-size: 50px;
}

.headline {
  font-size: 35px;
}

.bold {
  font-weight: bold;
  margin-top: 10px;
}

.skillname {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
}

.skilllevel {
  display: inline-block;
  vertical-align: middle;
}

.welcome {
  padding: 0;
  padding-right: 20%;
  padding-left: 20%;
  background-image: url("welcomeBackground.png");
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

.welcomeText {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcomeText > .title {
  font-size: 72px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid currentColor;
  display: inline-block;
}

.welcomeText > .headline {
  font-size: 36px;
}

.aboutMe {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  text-align: left;
}

.details {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  text-align: right;
}

.skills {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
}

.languagesTools {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
}

.contact {
  position: relative;
  padding-top: 100px;
  padding-bottom: 0;
  min-height: 300px;
  background-color: rgb(78, 78, 78);
  color: white;
}
