@media (max-width: 1200px) {
  body {
    font-family: "Source Code Pro", monospace;
    background-color: white;
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-align: center;
  }

  html {
    scroll-behavior: smooth;
  }

  .navButton {
    transition: 0.5s;
    padding: 1em 1em 1em 1.5em;
    font-size: 0.8em;
    color: black;
    background-color: #d15e2c;
    float: right;
    text-decoration: none;
    border: none;
    border-bottom-left-radius: 25px;
  }

  .navButton:hover {
    transition: 0.5s;
    background-color: #e0e0e0;
  }

  .navClosed {
    z-index: 1;
    overflow: hidden;
    position: fixed;
    width: 100%;
  }

  nav {
    transition: 0.5s;
    z-index: 1;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    right: -100%;
    width: 100%;
    height: 100%;
  }

  .navOpened {
    transition: 0.5s;
    right: 0%;
  }

  nav ul {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding-left: 0;
  }

  nav li {
    list-style: none;
    text-align: center;
    padding: 0.5em;
  }

  nav a {
    transition: 0.5s;
    font-size: 1.2em;
    color: #d15e2c;
    margin-top: 0;
    padding: 0.5em;
    margin-left: 10%;
    margin-right: 10%;
  }

  nav a:hover {
    transition: 0.5s;
    color: black;
    background-color: #d15e2c;
  }

  .active > a {
    color: black;
    background-color: #d15e2c;
  }

  .active .dot {
    background-color: black;
  }

  a {
    transition: 0.2s;
    text-decoration: none;
    color: #d15e2c;
    font-size: 1em;
    margin-top: 1em;
    display: block;
  }

  a:hover {
    color: black;
  }

  li {
    transition: 1s;
    font-size: 0.8em;
    text-align: left;
    padding: 3px;
  }

  ul {
    padding-left: 0;
    list-style-type: none;
    margin-right: 5%;
  }

  .container {
    padding-top: 3em;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 3em;
  }

  .title {
    font-size: 2.5em;
    padding-bottom: 0.2em;
  }

  .headline {
    padding-top: 1.5em;
    font-size: 1.2em;
    font-weight: bold;
  }

  p {
    margin: 0;
    margin-top: 1em;
    margin-bottom: 0;
    color: #353535;
    font-size: 1em;
  }

  .bold {
    font-weight: bold;
    margin-top: 1em;
    font-size: 1em;
  }

  .welcome {
    padding: 0;
    padding-right: 10%;
    padding-left: 10%;
    color: black;
  }

  .welcomeText {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .welcomeText > .title {
    font-size: 2.5em;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #d15e2c;
    display: inline-block;
  }

  .welcomeText > .headline {
    font-size: 1.5em;
    padding-top: 0;
  }

  .profile > p {
    text-align: justify;
  }

  .aboutMe {
    vertical-align: top;
    text-align: justify;
  }

  .details {
    vertical-align: top;
    text-align: left;
    padding-bottom: 1em;
  }

  .abilities p {
    text-align: justify;
  }

  .skills > .headline,
  .languagesTools > .headline {
    text-align: left;
  }

  @media (min-width: 660px) {
    .skills {
      display: inline-block;
      vertical-align: middle;
      width: 50%;
    }

    .languagesTools {
      display: inline-block;
      vertical-align: middle;
      width: 50%;
    }
    .legend {
      padding-left: 15%;
      padding-right: 15%;
    }

    nav a {
      font-size: 1.3em;
    }
  }

  .legend {
    margin-top: 2em;
    border-top: 0.06em solid #353535;
  }

  .legend .headline {
    padding-top: 0.2em;
  }

  .skill:hover {
    transition: 1s;
    background-color: #e0e0e0;
  }

  .skillname {
    width: 50%;
    display: inline-block;
  }

  .skilllevel {
    float: right;
  }

  span {
    font-size: 1em;
  }

  .interests p {
    text-align: justify;
  }

  .contact {
    position: relative;
    padding-top: 5em;
    padding-bottom: 5em;
    background-color: #57c5f0;
    color: black;
  }

  .contact > p {
    color: black;
  }

  .experience {
    background-color: #e0e0e0;
    text-align: left;
  }

  .experience > .title {
    text-align: center;
  }

  .experience li {
    font-size: 1em;
  }

  .education {
    padding-top: 0px;
    background-color: #e0e0e0;
    text-align: left;
  }

  .education > .title {
    text-align: center;
  }
}

@media (min-width: 1200px) {
  body {
    font-family: "Source Code Pro", monospace;
    background-color: white;
    margin: 0;
    padding: 0;
    font-size: 19px;
    text-align: center;
    background-image: url("pattern.png");
    background-repeat: repeat-y;
    background-size: 15%;
  }

  html {
    scroll-behavior: smooth;
  }

  nav {
    overflow: hidden;
    position: fixed;
    top: 30%;
    width: 15%;
    right: 2%;
    z-index: 1;
  }

  nav ul {
    padding-left: 0;
  }

  nav li {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    list-style: none;
    text-align: right;
  }

  nav a {
    transition: 1s;
    font-size: 0.8em;
    padding-top: 4px;
    padding-bottom: 4px;
    color: #353535;
  }

  nav a:hover {
    transition: 1s;
    color: black;
    font-size: 0.9em;
  }

  nav a:hover > .dot {
    background-color: black;
  }

  .active > a {
    color: black;
    font-size: 0.9em;
  }

  .active .dot {
    background-color: black;
  }

  a {
    transition: 0.2s;
    text-decoration: none;
    color: #d15e2c;
    font-size: 1em;
  }

  a:hover {
    transition: 0.5s;
    color: black;
  }

  .dot {
    height: 0.8em;
    width: 0.8em;
    margin-left: 0.5em;
    background-color: #d15e2c;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
  }

  li {
    transition: 1s;
    font-size: 0.8em;
    text-align: left;
    padding: 3px;
  }

  ul {
    padding-left: 0;
    list-style-type: none;
    margin-right: 0.5em;
  }

  .container {
    padding-top: 80px;
    padding-left: 20%;
    padding-right: 20%;
    min-height: 500px;
    padding-bottom: 80px;
  }

  .title {
    font-size: 2.5em;
    padding-bottom: 0.5em;
  }

  .headline {
    padding-top: 1.2em;
    font-size: 1.2em;
    font-weight: bold;
  }

  p {
    margin: 0;
    margin-top: 15px;
    margin-bottom: 0;
    color: #353535;
    font-size: 1em;
  }

  .bold {
    font-weight: bold;
    margin-top: 15px;
    font-size: 1em;
  }

  .welcome {
    padding: 0;
    padding-right: 20%;
    padding-left: 20%;

    color: black;
  }

  .welcomeText {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .welcomeText > .title {
    font-size: 3em;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #d15e2c;
    display: inline-block;
  }

  .welcomeText > .headline {
    font-size: 1.5em;
    padding-top: 0;
  }

  .profile > p {
    text-align: justify;
  }

  .aboutMe {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    text-align: justify;
    padding-left: 5%;
  }

  .aboutMe .headline {
    padding-top: 0;
  }

  .details {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    text-align: left;
  }

  .details a {
    margin-top: 1em;
    display: block;
  }

  .abilities p {
    text-align: justify;
  }

  .skills {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
  }

  .skills > .headline,
  .languagesTools > .headline {
    text-align: left;
  }

  .languagesTools {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
  }

  .skill:hover {
    transition: 1s;
    background-color: #e0e0e0;
  }

  .skillname {
    width: 50%;
    display: inline-block;
  }

  .skilllevel {
    float: right;
  }
  .legend {
    padding-left: 10%;
    padding-right: 10%;
  }

  .interests p {
    text-align: justify;
  }

  span {
    font-size: 1em;
  }

  .contact {
    position: relative;
    padding-top: 100px;
    padding-bottom: 0;
    min-height: 400px;
    background-color: #57c5f0;
    color: black;
  }

  .contact > p {
    color: black;
  }

  .contact a {
    margin-top: 1em;
    display: block;
  }

  .experience {
    background-color: #e0e0e0;
    text-align: left;
  }

  .experience > .title {
    text-align: center;
    padding-bottom: 0;
  }

  .experience li {
    font-size: 1em;
  }

  .education {
    padding-top: 0px;
    background-color: #e0e0e0;
    text-align: left;
  }

  .education > .title {
    text-align: center;
  }

  .education li {
    font-size: 1em;
  }
}
